*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: rgba(235, 132, 132, 0.733);
    font-family: Arial, Helvetica, sans-serif;
}

.insert{
    text-align: center;
}

.container{
    background-color: white;
    margin-top: 4rem;
    padding: 1rem;
    margin: 1rem 3rem 2rem;
    border-radius: 1rem;
    
}

.data, .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}

.controls{
    padding-top: 2rem;
    
}

button{
    width: 5rem;

}

.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    border: 1px solid;
}
.info p{
    padding-top: 2rem;
}

.owner{
    background-color: grey;
    
}

.owner, .offer, .place, .code, .price{
    padding: 1rem;
}

.ticket, .yourTicket{
    display: none;
}