*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: #066a63;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.insert{
    text-align: center;
}

.container{
    background-color: #52928c;
    margin-top: 4rem;
    padding: 1rem;
    margin: 1rem 3rem 2rem;
    border-radius: 1rem;
    
}

.data, .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

}

input{
    width: 13rem;
    height: 1.5rem;
    border: none;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}

.controls{
    padding-top: 2rem;
    
}

button{
    width: 5rem;
    height: 1.5rem;
    border: none;
}

.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    border: 1px solid black;
}
.info p{
    padding-top: 2rem;
}

.owner{
    background-color: #044c44;;
    
}

.owner, .offer, .place, .code, .price{
    padding: 1rem;
}

.ticket, .yourTicket{
    display: none;
}